<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="bi bi-list fs-3"></i></button>
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="bi bi-search"></i></button>
        </div>
    </form>
    <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-dark text-white" id="dropdownBasic1" ngbDropdownToggle>
            <i class="bi bi-person-fill fs-5"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-end me-1">
            <a ngbDropdownItem [routerLink]="['/profile']">Profile</a>
            <button ngbDropdownItem (click)="logout()">logout</button>
        </div>
    </div>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="bi bi-house-fill"></i></div>
                        Home
                    </a>
                    <div class="sb-sidenav-menu-heading">Interface</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                        aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Layouts
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                        data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="layout-static.html">Static Navigation</a>
                            <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                        aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Pages
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                        data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                aria-controls="pagesCollapseAuth">
                                Authentication
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="login.html">Login</a>
                                    <a class="nav-link" href="register.html">Register</a>
                                    <a class="nav-link" href="password.html">Forgot Password</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                data-bs-target="#pagesCollapseError" aria-expanded="false"
                                aria-controls="pagesCollapseError">
                                Error
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="401.html">401 Page</a>
                                    <a class="nav-link" href="404.html">404 Page</a>
                                    <a class="nav-link" href="500.html">500 Page</a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading">Addons</div>
                    <a class="nav-link" href="charts.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Charts
                    </a>
                    <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Tables
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Start Bootstrap
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <router-outlet />
            </div>
        </main>

        <app-footer></app-footer>

        <ngb-toast [autohide]="false" (hidden)="show = false"
            class="position-absolute bottom-0 start-0 col-2 offset-6 bg-light bg-gradient rounded-0 rounded-top">
            <ng-template ngbToastHeader>
                <div class="me-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                        <path
                            d="M16.896 10l-4.896-8-4.896 8-7.104-4 3 11v5h18v-5l3-11-7.104 4zm-11.896 10v-2h14v2h-14zm14.2-4h-14.4l-1.612-5.909 4.615 2.598 4.197-6.857 4.197 6.857 4.615-2.598-1.612 5.909z" />
                    </svg>
                    <strong class="mx-1">Fancy</strong>header here
                </div>
            </ng-template>
            <div ngbScrollSpy style="height: 300px;">
                <div class="text-start">
                    <small class="fw-bold">John Doe (1 day ago)</small>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
                <div class="text-end">
                    <small class="fw-bold">Mary Doe (1 day ago)</small>
                    <p>
                        Placeat quas ipsum, earum nulla reprehenderit animi aperiam cum voluptatibus, necessitatibus
                        impedit
                        quia nesciunt facere eos optio itaque dicta repellat? Iste, totam.
                    </p>
                </div>
                <div class="text-end">
                    <small class="fw-bold">Mary Doe (1 hour ago)</small>
                    <p>
                        Placeat quas ipsum, earum nulla reprehenderit animi aperiam cum voluptatibus, necessitatibus
                        impedit
                        quia nesciunt facere eos optio itaque dicta repellat? Iste, totam.
                    </p>
                </div>
                <div class="text-start">
                    <small class="fw-bold">John Doe (10 min ago)</small>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
                <div class="text-start" ngbScrollSpyFragment="last">
                    <small class="fw-bold">John Doe (9 min ago)</small>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div>
            <hr />
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Recipient's username"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    <i class="bi bi-send"></i>
                </button>
            </div>
        </ngb-toast>


        <div ngbAccordion class="position-absolute bottom-0 end-0 col-3">
            <div ngbAccordionItem [collapsed]="false">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton class="d-flex gap-2">
                        <span class="badge bg-primary rounded-pill float-end">14</span>
                        Chat
                    </button>
                </h2>

                <div ngbAccordionCollapse>
                    <input id="typeahead-template" type="text" class="form-control col rounded-0"
                        placeholder="Search ..." />
                    <div ngbAccordionBody ngbScrollSpy #spy="ngbScrollSpy" style="height: 400px" class="p-0">
                        <ol class="list-group">
                            <ng-template ngFor let-chat [ngForOf]="chats">
                                <li *ngIf="chat"
                                    class="list-group-item d-flex justify-content-between align-items-start rounded-0">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">{{chat.name}}</div>
                                        <small class="text-muted">{{chat.lastMessage | truncate: 15 }}</small>
                                    </div>
                                    <span *ngIf="chat?.unread"
                                        class="badge bg-primary rounded-pill">{{chat.unread}}</span>
                                </li>
                            </ng-template>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>